server:
  port: 8081

spring:
  application:
    name: products-service
  datasource:
    url: jdbc:postgresql://localhost:5432/products_db
    username: linktic
    password: password
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
